@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <div><button id="play">Play</button><button id="pause">Pause</button></div>
        <div>
            Currently playing? 
        </div>
        <div id="playingStatus">
        </div>
    </div>
</div>